<div class="card">
  <div class="card-header">Sign Up!</div>
  <span *ngIf="errorMessages.length !== 0" class="bg-danger m-5 pt-4">
    <ol>
      <ng-container *ngFor="let error of errorMessages">
        <li class="text-light">{{ error }}</li>
      </ng-container>
    </ol>
    <br />
  </span>
  <div class="card-body">
    <form novalidate (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="firstNameId"
          >First Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="firstNameId"
            type="text"
            placeholder="First Name (required)"
            formControlName="firstName"
            name="firstName"
            [ngClass]="displayFieldCss('firstName')"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="lastNameId"
          >Last Name</label
        >
        <div class="col-md-8">
          <input
            class="form-control"
            id="lastNameId"
            type="text"
            placeholder="Last Name (required)"
            formControlName="lastName"
            [ngClass]="displayFieldCss('lastName')"
          />
        </div>
      </div>

      <div formGroupName="emailGroup">
        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="emailId">Email</label>
          <div class="col-md-8">
            <input
              class="form-control"
              id="emailId"
              type="email"
              placeholder="Email (required)"
              formControlName="email"
              name="email"
              [ngClass]="displayFieldCss('emailGroup.email')"
            />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label class="col-md-2 col-form-label" for="confirmEmailId"
            >Confirm Email</label
          >
          <div class="col-md-8">
            <input
              class="form-control"
              id="confirmEmailId"
              type="email"
              placeholder="Confirm Email (required)"
              formControlName="confirmEmail"
              name="confirmEmail"
              [ngClass]="displayFieldCss('emailGroup.confirmEmail')"
            />
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="phoneId">Phone</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="phoneId"
            type="tel"
            placeholder="Phone"
            formControlName="phone"
            [ngClass]="displayFieldCss('phone')"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label pt-0">Send Notifications</label>
        <div class="col-md-8">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                value="email"
                formControlName="notification"
              />Email
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                value="text"
                formControlName="notification"
              />Text
            </label>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label" for="ratingId">Rating</label>
        <div class="col-md-8">
          <input
            class="form-control"
            id="ratingId"
            type="number"
            formControlName="rating"
            [ngClass]="displayFieldCss('rating')"
          />
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-8">
          <div class="form-check">
            <label class="form-check-label">
              <input
                class="form-check-input"
                id="sendCatalogId"
                type="checkbox"
                (click)="onSendCatalog()"
                formControlName="sendCatalog"
              />Send me your catalog
            </label>
          </div>
        </div>
      </div>

      <div *ngIf="loginForm.get('sendCatalog').value">
        <div formArrayName="addresses">
          <div
            [formGroupName]="i"
            *ngFor="let address of addresses.controls; let i = index"
          >
            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label pt-0">Address Type</label>
              <div class="col-md-8">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      id="addressType1Id"
                      type="radio"
                      value="home"
                      formControlName="addressType"
                    />
                    Home
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      id="addressType1Id"
                      type="radio"
                      value="work"
                      formControlName="addressType"
                    />
                    Work
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      id="addressType1Id"
                      type="radio"
                      value="other"
                      formControlName="addressType"
                    />
                    Other
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group row mb-2">
              <label
                class="col-md-2 col-form-label"
                attr.for="{{ 'street1Id' }}"
                >Street Address 1</label
              >
              <div class="col-md-8">
                <input
                  class="form-control"
                  id="{{ 'street1Id' }}"
                  type="text"
                  placeholder="Street address"
                  formControlName="street1"
                />
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="street2Id"
                >Street Address 2</label
              >
              <div class="col-md-8">
                <input
                  class="form-control"
                  id="street2Id"
                  type="text"
                  placeholder="Street address (second line)"
                  formControlName="street2"
                />
              </div>
            </div>

            <div class="form-group row mb-2">
              <label class="col-md-2 col-form-label" for="cityId"
                >City, State, Zip Code</label
              >
              <div class="col-md-3">
                <input
                  class="form-control"
                  id="cityId"
                  type="text"
                  placeholder="City"
                  formControlName="city"
                />
              </div>
              <div class="col-md-3">
                <select
                  class="form-control"
                  id="stateId"
                  formControlName="state"
                >
                  <option value="" disabled selected hidden>
                    Select a State...
                  </option>
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
              </div>
              <div class="col-md-2">
                <input
                  class="form-control"
                  id="zipId"
                  type="number"
                  placeholder="Zip Code"
                  formControlName="zip"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row mb-2">
          <div class="col-md-4">
            <button
              class="btn btn-outline-primary"
              type="button"
              [title]="
                addresses.valid
                  ? 'Add another mailing address'
                  : 'Disabled until the existing address data is valid'
              "
              [disabled]="!addresses.valid"
              (click)="addAddress()"
            >
              Add Another Address
            </button>
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button
            class="btn btn-primary mr-3"
            type="submit"
            style="width: 80px"
          >
            <!-- [disabled]="!loginForm.valid" -->
            Submit
          </button>
          <button class="btn btn-outline-secondary mr-3" type="button">
            Test Data
          </button>
          <button
            class="btn btn-outline-danger"
            type="button"
            (click)="resetForm()"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
  <p class="mt-5 mb-3 text-muted text-center">© 2017-2018</p>
</div>

<span>
  <br />
  required: {{ loginForm.get("firstName").hasError("required") }}
  <br />
  minLength: {{ loginForm.get("firstName").hasError("minlength") }}
  <br />
  Not Equal Ahmed: {{ loginForm.get("firstName").hasError("notEqualAhmed") }}
  <br />
  {{ loginForm.get("emailGroup.confirmEmail").hasError("required") }}
  <br />
  asdasdasdas: {{ loginForm.get("emailGroup").errors | json }}
  <br />
  asdasdasdas: {{ loginForm.value | json }}
</span>
<br />
